In [1]:
#commont imports
import pandas as pd
import numpy as np

Step 2 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117790/'>link</a>

In [2]:
#path to data set file
#please note: it is defined on LMS but not local so we just define it here
path_to_file = '2_taxi_nyc.csv'

In [3]:
taxi = pd.read_csv(path_to_file)

Step 3 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117791/'>link</a>

In [4]:
taxi.shape

(29101, 14)

Step 4 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117792/'>link</a>

In [5]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

Step 5 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117793/'>link</a>

In [6]:
def get_colums_to_rename(all_columns):
    '''
    all_columns - is array-like
    the method returns dic like {"old column name with spaces":"old_column_name_with_spaces"}
    '''
    return {key:key.replace(' ', '_') for key in all_columns if ' ' in key}

taxi = taxi.rename(columns=get_colums_to_rename(taxi.columns))

In [22]:
taxi.describe()

,pickups,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
count,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000
mean,490.215903,5.984924,8.818125,47.669042,30.823065,1017.817938,0.003830,0.026129,0.090464,2.529169
std,995.649536,3.699007,2.442897,19.814969,21.283444,7.768796,0.018933,0.093125,0.219402,4.520325
min,0.000000,0.000000,0.000000,2.000000,-16.000000,991.400000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.000000,9.100000,32.000000,14.000000,1012.500000,0.000000,0.000000,0.000000,0.000000
50%,54.000000,6.000000,10.000000,46.000000,30.000000,1018.200000,0.000000,0.000000,0.000000,0.000000
75%,449.000000,8.000000,10.000000,64.500000,50.000000,1022.900000,0.000000,0.000000,0.050000,2.958333
max,7883.000000,21.000000,10.000000,89.000000,73.000000,1043.400000,0.280000,1.240000,2.100000,19.000000

Step 6 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117794/'>link</a>

In [8]:
taxi.value_counts('borough')

borough
Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
dtype: int64

In [9]:
taxi.query("borough == 'Brooklyn'").shape[0]

4343

In [10]:
taxi.borough.value_counts()

Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: borough, dtype: int64

Step 7 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117795/'>link</a>

In [11]:
total_pickups = taxi.pickups.sum()

In [12]:
total_pickups

14265773

Step 8 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117796/'>link</a>

In [13]:
taxi.borough.isna().sum()

3043

In [14]:
pickups_by_borough = taxi.groupby(by='borough', as_index=False, dropna=False) \
    .agg({'pickups':'sum'}) \
    .sort_values('pickups', ascending=False)

In [15]:
pickups_by_borough.pickups.sum()

14265773

In [20]:
pickups_by_borough

<bound method NDFrame.describe of          borough   pickups
0          Bronx    220047
1       Brooklyn   2321035
2            EWR       105
3      Manhattan  10367841
4         Queens   1343528
5  Staten Island      6957
6            NaN      6260>

Step 9 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117797/'>link</a>

In [18]:
#help(pickups_by_borough.idxmin)

pickups_by_borough = taxi \
    .groupby(by='borough', as_index=False, dropna=False) \
    .agg({'pickups':'sum'})

min_index = pickups_by_borough.pickups.idxmin(axis='columns', skipna=True)

min_pickups = pickups_by_borough.borough[min_index]

TypeError: '>=' not supported between instances of 'str' and 'int'

Step 10 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117798/'>link</a>

In [ ]:
picksup_by_hday = taxi \
    .groupby(by=['borough', 'hday'], as_index=False, dropna=False) \
    .agg({'pickups':'mean'}) \
    .sort_values(['borough', 'hday'], ascending=False)

In [19]:
picksup_by_hday.describe

NameError: name 'picksup_by_hday' is not defined

In [ ]:
picksup_by_hday \
    .groupby(by='borough', as_index=False) \
    .agg(lambda x: x[x.hday == 'Y'].pickups.values > x[x.hday == 'N'].pickups.values)

         borough   hday  pickups
0          Bronx  False    False
1       Brooklyn  False    False
2            EWR   True     True
3      Manhattan  False    False
4         Queens   True     True
5  Staten Island  False    False

In [ ]:
picksup_by_hday.pivot(columns='hday', values='pickups', index='borough').query('Y > N')

hday              N           Y
borough
EWR        0.023467    0.041916
Queens   308.899904  320.730539

In [ ]:
taxi.pivot_table(index='borough', columns='hday', values='pickups', aggfunc='mean')

hday                     N            Y
borough
Bronx            50.771073    48.065868
Brooklyn        534.727969   527.011976
EWR               0.023467     0.041916
Manhattan      2401.302921  2035.928144
Queens          308.899904   320.730539
Staten Island     1.606082     1.497006

Step 11 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117799/'>link</a>

In [ ]:
pickups_by_mon_bor = taxi \
    .groupby(by=['borough', 'pickup_month'], as_index=False, dropna=True) \
    .agg({'pickups':'sum'}) \
    .sort_values('pickups', ascending=False)

In [ ]:
pickups_by_mon_bor.head()

      borough pickup_month  pickups
21  Manhattan          Jun  1995388
23  Manhattan          May  1888800
19  Manhattan          Feb  1718571
22  Manhattan          Mar  1661261
18  Manhattan          Apr  1648278

Step 12 <a hrev='https://lab.karpov.courses/learning/85/module/1056/lesson/9039/26515/117800/'>link</a>

In [ ]:
def temp_to_celcius(faringates):
    return (faringates - 32.0) * 5.0/9.0

In [ ]:
taxi['temp_C'] = temp_to_celcius(taxi.temp)

In [ ]:
taxi.temp_C

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp_C, Length: 29101, dtype: float64